.catalog {
  &-container {
    box-sizing: border-box;
    padding: 50px;
    background-color: antiquewhite;
    text-align: center;
  }
  &-header {
    font-size: 22px;
    line-height: 0.7;
    color: #777777;
  }
  &-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

