<div class="footer-container">
  <div class="footer-wraper">
    <div class="footer-main">
      <div class="footer-soc-icons">
        <span class="footer-soc-icons"><i class="fab fa-facebook-f"></i></span>
        <span class="footer-soc-icons"><i class="fab fa-instagram"></i></span>
        <span class="footer-soc-icons"><i class="fab fa-pinterest"></i></span>
      </div>
      <nav class="footer-menu">
        <a href="" class="footer-menu__item">Реклама</a>
        <a href="" class="footer-menu__item">Правила</a>
        <a href="" class="footer-menu__item">Написати адміністрації</a>
      </nav>
    </div>
    <div class="footer-lang">
      <a href="" class="footer-lang__item">Українська</a>
      <a href="" class="footer-lang__item">Русский</a>
    </div>
  </div>
</div>
