.catalogItem {
  &-header {
    background-color: palevioletred;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 40px;
    padding-top: 10px;
    color: white;
  }
  &-wraper {
    margin: 10px 15px;
    box-shadow: 1px 1px 3px 1px rgb(177, 177, 177);
    max-width: 300px;
    border-radius: 3px;
  }
  &-image {
    margin: 0;
    padding: 0;
  }
}
