<div class="search">
  <div class="search-container">
    <div class="search-box">
      <form class="search-form">
        <div class="search-form__select">

          <label for="category" class="small">Категорія</label>
          <select id="category">
            <option value="">Оберіть категорію</option>
            <option value="foto">
              Фотографи
            </option>

            <option value=""></option>
            <option value="video">
              Відеооператори
            </option>

            <option value=""></option>
            <option value="muzykanty">
              Музиканти
            </option>
          </select>

        </div>
        <div class="search-form__select">
          <label for="city" class="small">Місто</label>
          <select id="city">
            <option value="">Оберіть місто</option>
            <option value="kyiv">
              Київ
            </option>

            <option value=""></option>
            <option value="lviv">
              Львів
            </option>

            <option value=""></option>
            <option value="if">
              Івано-Франківськ
            </option>
          </select>
        </div>

        <div class="search-form__button">
          <input type="submit" value="ПОШУК">
        </div>
      </form>
    </div>
  </div>
</div>
