<header class="header-container">
  <div class="header-wraper">
    <nav class="header-nav">
      <div class="header-menu">
        <ul>
          <li>
            <a href="/" class="header-brand">
              <img class="logo" src="assets/logo.svg" alt="Girko.net logo" height="25px">
              <span class="text">GIRKO</span>
            </a>
          </li>
          <li><a href="#photographs">Фотографи</a></li>
          <li><a href="#videographs">Відеоператори</a></li>
          <li><a href="#musicians">Музиканти</a></li>
          <li><a href="#entertainer">Тамада</a></li>
          <li><a href="#restaurants">Ресторани</a></li>
        </ul>
        <div class="header-auth">
          <ul>
            <li class="header-auth__registration"><a>РЕЄСТРАЦІЯ</a></li>
            <li><a href="#sign_in">Вхід</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>


